<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyun.bookmarkshare.manage.bookmark.dao.BookmarkRepository">

    <resultMap id="bookmarkEntityResultMap" type="com.hyun.bookmarkshare.manage.bookmark.entity.Bookmark">
        <id column="BOOK_SEQ" property="bookmarkSeq"/>
        <result column="USER_SEQ" property="userId"/>
        <result column="FOLDER_SEQ" property="folderSeq"/>
        <result column="BOOK_TITLE" property="bookmarkTitle"/>
        <result column="BOOK_CAPTION" property="bookmarkCaption"/>
        <result column="BOOK_URL" property="bookmarkUrl"/>
        <result column="BOOK_SCHEME" property="bookmarkScheme"/>
        <result column="BOOK_HOST" property="bookmarkHost"/>
        <result column="BOOK_DOMAIN" property="bookmarkDomain"/>
        <result column="BOOK_PORT" property="bookmarkPort"/>
        <result column="BOOK_PATH" property="bookmarkPath"/>
        <result column="BOOK_ORDER" property="bookmarkOrder"/>
        <result column="BOOK_REG_DATE" property="bookmarkRegDate"/>
        <result column="BOOK_MOD_DATE" property="bookmarkModDate"/>
        <result column="BOOK_DEL_FLAG" property="bookmarkDelFlag"/>
    </resultMap>

    <!-- ================================================================================================ -->
    <!-- ============================================ SELECT ============================================ -->

    <select id="findAllByUserIdAndFolderSeqExcludeDeleted"
            resultMap="bookmarkEntityResultMap">
        SELECT *
        FROM TBOOKMARK
        WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq} AND BOOK_DEL_FLAG = 'n'
        ORDER BY BOOK_ORDER;
    </select>

    <select id="findAllByUserIdAndFolderSeq" resultMap="bookmarkEntityResultMap">
        SELECT *
        FROM TBOOKMARK
        WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq}
        ORDER BY BOOK_ORDER;
    </select>

    <select id="findByUserIdAndBookmarkSeq"
            parameterType="com.hyun.bookmarkshare.manage.bookmark.controller.dto.request.BookmarkRequestDto"
            resultType="com.hyun.bookmarkshare.manage.bookmark.service.response.BookmarkResponseDto">
        SELECT BOOK_SEQ as bookmarkSeq, BOOK_TITLE as bookmarkTitle, BOOK_CAPTION as bookmarkCaption, BOOK_URL as bookmarkUrl
        FROM TBOOKMARK
        WHERE USER_SEQ = #{userId} AND BOOK_SEQ = #{bookmarkSeq} AND BOOK_DEL_FLAG = 'n';
    </select>

    <select id="findByBookmarkSeqForTest" parameterType="Long" resultMap="bookmarkEntityResultMap">
        SELECT *
        FROM TBOOKMARK
        WHERE BOOK_SEQ = #{bookmarkSeq}
        ORDER BY BOOK_ORDER;
    </select>

    <!-- none used -->
    <select id="findByBookmarkSeqLockUpdate"
            parameterType="Long"
            resultMap="bookmarkEntityResultMap">
        SELECT *
        FROM TBOOKMARK
        WHERE BOOK_SEQ = #{bookmarkSeq} AND BOOK_DEL_FLAG = 'n'
        LOCK IN SHARE MODE;
    </select>

    <select id="findByBookmarkSeq" parameterType="Long" resultMap="bookmarkEntityResultMap">
        SELECT *
        FROM TBOOKMARK
        WHERE BOOK_SEQ = #{bookmarkSeq} AND BOOK_DEL_FLAG = 'n';
    </select>

    <!-- ================================================================================================ -->
    <!-- ============================================ INSERT ============================================ -->

    <insert id="saveBookmark" parameterType="com.hyun.bookmarkshare.manage.bookmark.controller.dto.request.BookmarkCreateRequestDto"
            useGeneratedKeys="true" keyProperty="bookmarkSeq">
        INSERT INTO TBOOKMARK(USER_SEQ, FOLDER_SEQ, BOOK_TITLE, BOOK_CAPTION, BOOK_URL, BOOK_SCHEME,
                              BOOK_HOST, BOOK_DOMAIN, BOOK_PORT, BOOK_PATH, BOOK_ORDER)
        VALUES(#{userId}, #{folderSeq}, #{bookmarkTitle}, IFNULL(#{bookmarkCaption}, ''), #{bookmarkUrl}, #{bookmarkScheme},
               #{bookmarkHost}, #{bookmarkDomain}, #{bookmarkPort}, #{bookmarkPath},
               (SELECT IFNULL(MAX(BOOK_ORDER)+1, 1) FROM TBOOKMARK ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq})
               );
    </insert>

    <insert id="save" parameterType="com.hyun.bookmarkshare.manage.bookmark.entity.Bookmark"
            useGeneratedKeys="true" keyProperty="bookmarkSeq">
        INSERT INTO TBOOKMARK(BOOK_SEQ, USER_SEQ, FOLDER_SEQ, BOOK_TITLE, BOOK_CAPTION, BOOK_URL, BOOK_SCHEME,
                              BOOK_HOST, BOOK_DOMAIN, BOOK_PORT, BOOK_PATH, BOOK_ORDER, BOOK_DEL_FLAG)
        VALUES(#{bookmarkSeq}, #{userId}, #{folderSeq}, #{bookmarkTitle}, #{bookmarkCaption}, #{bookmarkUrl}, #{bookmarkScheme},
               #{bookmarkHost}, #{bookmarkDomain}, #{bookmarkPort}, #{bookmarkPath},
               (SELECT IFNULL(MAX(BOOK_ORDER)+1, 1) FROM TBOOKMARK ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq})
               , 'n');
    </insert>

    <!-- ================================================================================================ -->
    <!-- ============================================ UPDATE ============================================ -->

    <update id="updateByBookmarkUpdateRequestDtoAndReturnLockUpdate" parameterType="com.hyun.bookmarkshare.manage.bookmark.controller.dto.request.BookmarkUpdateRequestDto"
            flushCache="true">
        UPDATE TBOOKMARK
        SET BOOK_CAPTION = #{bookmarkCaption}, BOOK_URL = #{bookmarkUrl}, BOOK_SCHEME = #{bookmarkScheme},
            BOOK_HOST = #{bookmarkHost}, BOOK_DOMAIN = #{bookmarkDomain} ,BOOK_PATH = #{bookmarkPath},
            BOOK_PORT = #{bookmarkPort}, BOOK_MOD_DATE = NOW()
        WHERE USER_SEQ = #{userId} AND BOOK_SEQ = #{bookmarkSeq} ;
    </update>

    <update id="update" parameterType="com.hyun.bookmarkshare.manage.bookmark.entity.Bookmark">
        UPDATE TBOOKMARK
        SET BOOK_TITLE = #{bookmarkTitle}, BOOK_CAPTION = #{bookmarkCaption}, BOOK_URL = #{bookmarkUrl}, BOOK_SCHEME = #{bookmarkScheme},
            BOOK_HOST = #{bookmarkHost}, BOOK_DOMAIN = #{bookmarkDomain} ,BOOK_PATH = #{bookmarkPath},
            BOOK_PORT = #{bookmarkPort}, BOOK_MOD_DATE = NOW()
        WHERE USER_SEQ = #{userId} AND BOOK_SEQ = #{bookmarkSeq} AND BOOK_DEL_FLAG = 'n';
    </update>


    <update id="updateOrderByBookmarkRequestDto" parameterType="com.hyun.bookmarkshare.manage.bookmark.service.request.BookmarkReorderServiceRequestDto">
        <foreach collection="bookmarkSeqOrder" item="sequence" index="i" separator=";">
            UPDATE TBOOKMARK
            SET BOOK_ORDER = (#{i}+1)
            WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq} AND BOOK_SEQ = #{sequence}
        </foreach>
    </update>

    <!-- ================================================================================================ -->
    <!-- ============================================ DELETE ============================================ -->

    <update id="deleteByUserIdAndBookmarkSeq" parameterType="Long">
        UPDATE TBOOKMARK SET BOOK_DEL_FLAG = 'y', BOOK_MOD_DATE = NOW()
        WHERE USER_SEQ = #{userId} AND BOOK_SEQ = #{bookmarkSeq} AND BOOK_DEL_FLAG = 'n';
    </update>

<!--    <update id="resetAutoIncrementValue">-->
<!--        ALTER TABLE TBOOKMARK AUTO_INCREMENT = 0;-->
<!--    </update>-->

    <update id="deleteAllByUserIdAndFolderSeq" parameterType="Long">
        UPDATE TBOOKMARK SET BOOK_DEL_FLAG = 'y', BOOK_MOD_DATE = NOW()
        WHERE USER_SEQ = #{userId} AND FOLDER_SEQ = #{folderSeq} AND BOOK_DEL_FLAG = 'n';
    </update>

</mapper>