<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyun.bookmarkshare.manage.folder.dao.FolderRepository">

    <resultMap id="folderEntityResultMap" type="com.hyun.bookmarkshare.manage.folder.entity.Folder">
        <id column="FOLDER_SEQ" property="folderSeq"/>
        <result column="USER_SEQ" property="userId"/>
        <result column="FOLDER_PARENT_SEQ" property="folderParentSeq"/>
        <result column="FOLDER_ROOT_FLAG" property="folderRootFlag"/>
        <result column="FOLDER_NAME" property="folderName"/>
        <result column="FOLDER_CAPTION" property="folderCaption"/>
        <result column="FOLDER_ORDER" property="folderOrder"/>
        <result column="FOLDER_SCOPE" property="folderScope"/>
        <result column="FOLDER_REG_DATE" property="folderRegDate"/>
        <result column="FOLDER_MOD_DATE" property="folderModDate"/>
        <result column="FOLDER_DEL_FLAG" property="folderDelFlag"/>
    </resultMap>

    <!-- ================================================================================================ -->
    <!-- ============================================ SELECT ============================================ -->

    <select id="findAllByUserIdAndParentSeq" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                             resultMap="folderEntityResultMap">
        SELECT *
        FROM TFOLDER
        WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq} AND FOLDER_DEL_FLAG = 'n'
           ORDER BY FOLDER_ORDER ASC;
    </select>

    <select id="findAllByUserId" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                 resultMap="folderEntityResultMap">
        SELECT *
        FROM TFOLDER
        WHERE USER_SEQ = #{userId} AND FOLDER_DEL_FLAG = 'n'
        ORDER BY FOLDER_PARENT_SEQ ASC, FOLDER_ORDER ASC;
    </select>

    <select id="findByFolderSeq" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                 resultMap="folderEntityResultMap">
        SELECT *
        FROM TFOLDER
        WHERE FOLDER_SEQ = #{folderSeq}
        LIMIT 1;
    </select>

    <select id="findByFolderSeqExcludeDeleted" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                               resultMap="folderEntityResultMap">
        SELECT *
        FROM TFOLDER
        WHERE FOLDER_SEQ = #{folderSeq} AND FOLDER_DEL_FLAG = 'n'
        LIMIT 1;
    </select>

    <select id="findAllFolderSeqWithSameAncestor" resultType="Long">
        WITH RECURSIVE CTE AS (
            SELECT
                FOLDER_SEQ,
                FOLDER_PARENT_SEQ
            FROM tfolder
            WHERE FOLDER_PARENT_SEQ = #{ancestor} AND USER_SEQ = #{userId} AND FOLDER_DEL_FLAG = 'n'

            UNION ALL

            SELECT
                a.FOLDER_SEQ,
                a.FOLDER_PARENT_SEQ
            FROM tfolder a
                     INNER JOIN CTE b ON a.FOLDER_PARENT_SEQ = b.FOLDER_SEQ
        )
        SELECT FOLDER_SEQ, FOLDER_PARENT_SEQ FROM CTE;
    </select>

    <select id="findRootFolderByUserId" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                        resultMap="folderEntityResultMap">
        SELECT *
        FROM TFOLDER
        WHERE USER_SEQ = #{userId} AND FOLDER_ROOT_FLAG = 'y' AND FOLDER_DEL_FLAG = 'n'
        LIMIT 1;
    </select>

    <select id="findAllFolderWithSameAncestor" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
            resultMap="folderEntityResultMap">
        WITH RECURSIVE CTE AS (
            SELECT *
            FROM tfolder
            WHERE FOLDER_PARENT_SEQ = #{folderSeq} AND USER_SEQ = #{userId} AND FOLDER_DEL_FLAG = 'n'

            UNION ALL

            SELECT a.*
            FROM tfolder AS a
                JOIN CTE AS b ON a.FOLDER_PARENT_SEQ = b.FOLDER_SEQ
        )
        SELECT * FROM CTE;
    </select>


    <!-- ================================================================================================ -->
    <!-- ============================================ INSERT ============================================ -->

    <!--    1) 정상 동작 확인 완료 -->
    <insert id="saveFolderAsCustom" parameterType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
                                useGeneratedKeys="true" keyProperty="folderSeq">
        INSERT
        INTO TFOLDER(FOLDER_SEQ, USER_SEQ, FOLDER_PARENT_SEQ, FOLDER_ROOT_FLAG, FOLDER_NAME, FOLDER_CAPTION,
                     FOLDER_ORDER,
                     FOLDER_SCOPE, FOLDER_REG_DATE, FOLDER_MOD_DATE, FOLDER_DEL_FLAG)
        VALUES (#{folderSeq}, #{userId}, #{folderParentSeq}, #{folderRootFlag}, #{folderName}, #{folderCaption},
                (SELECT IFNULL(MAX(FOLDER_ORDER)+1, 1) FROM TFOLDER ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq}),
                #{folderScope}, NOW(), NOW(), #{folderDelFlag}
                );
    </insert>

    <insert id="save" parameterType="com.hyun.bookmarkshare.manage.folder.entity.Folder"
            useGeneratedKeys="true" keyProperty="folderSeq">
        INSERT
        INTO TFOLDER(FOLDER_SEQ, USER_SEQ, FOLDER_PARENT_SEQ, FOLDER_ROOT_FLAG, FOLDER_NAME, FOLDER_CAPTION,
                     FOLDER_ORDER,
                     FOLDER_SCOPE, FOLDER_REG_DATE, FOLDER_MOD_DATE, FOLDER_DEL_FLAG)
        VALUES (#{folderSeq}, #{userId}, #{folderParentSeq}, #{folderRootFlag}, #{folderName}, IFNULL(#{folderCaption}, ''),
                <choose>
                    <when test='folderOrder == null'>
                        (SELECT IFNULL(MAX(FOLDER_ORDER)+1, 1) FROM TFOLDER ALIAS_FOR_SUBQUERY
                         WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq})
                    </when>
                    <otherwise>
                        #{folderOrder}
                    </otherwise>
                </choose>
                ,
                #{folderScope},  NOW(), NOW(), 'n');
    </insert>

<!--    2) 정상 동작 확인 완료 -->
<!--    <insert id="saveNewFolder" parameterType="com.hyun.bookmarkshare.manage.folder.controller.dto.request.FolderRequestDto">-->
<!--        INSERT-->
<!--        INTO TFOLDER(USER_SEQ, FOLDER_ORDER,FOLDER_NAME, FOLDER_CAPTION, FOLDER_SCOPE, FOLDER_PARENT_SEQ)-->
<!--        VALUES (#{userId}, (-->
<!--            SELECT MAX(FOLDER_ORDER)+1 FROM TFOLDER ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq}),-->
<!--                #{folderName}, #{folderCaption}, #{folderScope}, #{folderParentSeq});-->
<!--        <selectKey keyProperty="folderSeq" resultType="Long">-->
<!--            SELECT LAST_INSERT_ID();-->
<!--        </selectKey>-->
<!--    </insert>-->

<!--    3) 아예 동작하지 않았다. insert는 되는데 return이 안된다. FOLDER_SEQ는 정수타입인데 왜 불가한 것일까? -->
<!--    <insert id="saveNewFolder" parameterType="com.hyun.bookmarkshare.manage.folder.controller.dto.request.FolderRequestDto">-->
<!--        INSERT-->
<!--        INTO TFOLDER(USER_SEQ, FOLDER_ORDER,FOLDER_NAME, FOLDER_CAPTION, FOLDER_SCOPE, FOLDER_PARENT_SEQ)-->
<!--        VALUES (#{userId}, (-->
<!--            SELECT MAX(FOLDER_ORDER)+1 FROM TFOLDER ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq}),-->
<!--                #{folderName}, #{folderCaption}, #{folderScope}, #{folderParentSeq})-->
<!--        RETURNING FOLDER_SEQ as folderSeq;-->
<!--    </insert>-->

<!--    4) 정상 동작은 하지만, 이렇게 해도 될까?-->
<!--    <select id="saveNewFolder" parameterType="com.hyun.bookmarkshare.manage.folder.controller.dto.request.FolderRequestDto" resultType="com.hyun.bookmarkshare.manage.folder.entity.Folder">-->
<!--        INSERT-->
<!--        INTO TFOLDER(USER_SEQ, FOLDER_ORDER,FOLDER_NAME, FOLDER_CAPTION, FOLDER_SCOPE, FOLDER_PARENT_SEQ)-->
<!--        VALUES (#{userId}, (-->
<!--            SELECT MAX(FOLDER_ORDER)+1 FROM TFOLDER ALIAS_FOR_SUBQUERY WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq}),-->
<!--                #{folderName}, #{folderCaption}, #{folderScope}, #{folderParentSeq})-->
<!--        RETURNING *;-->
<!--    </select>-->

    <!-- ================================================================================================ -->
    <!-- ============================================ UPDATE ============================================ -->

    <update id="updateOrderByFolderServiceRequestDto" parameterType="com.hyun.bookmarkshare.manage.folder.service.request.FolderReorderServiceRequestDto">
        <foreach collection="folderSeqOrder" item="sequence" index="i" separator=";">
        UPDATE TFOLDER
        SET FOLDER_ORDER = (#{i}+1)
        WHERE USER_SEQ = #{userId} AND FOLDER_PARENT_SEQ = #{folderParentSeq} AND FOLDER_SEQ = #{sequence}
        </foreach>
    </update>

    <update id="update" parameterType="com.hyun.bookmarkshare.manage.folder.entity.Folder">
        UPDATE TFOLDER
        SET FOLDER_NAME = #{folderName},
            FOLDER_CAPTION = #{folderCaption},
            FOLDER_SCOPE = #{folderScope},
            FOLDER_MOD_DATE = NOW()
        WHERE FOLDER_SEQ = #{folderSeq} AND USER_SEQ = #{userId}
    </update>

    <!-- ================================================================================================ -->
    <!-- ============================================ DELETE ============================================ -->

    <update id="deleteByFolderSeq" parameterType="Long">
        UPDATE TFOLDER
        SET FOLDER_MOD_DATE = NOW(),
            FOLDER_DEL_FLAG = 'y'
        WHERE FOLDER_SEQ = #{folderSeq}
    </update>

</mapper>