<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyun.bookmarkshare.manage.common.dao.ManageRepository">

    <resultMap id="folderWithBookmarkResultMap" type="com.hyun.bookmarkshare.manage.common.service.response.FolderWithIncludeBookmarksAndFolders">
        <id property="folderSeq" column="FOLDER_SEQ"/>
        <result property="folderParentSeq" column="FOLDER_PARENT_SEQ"/>
        <result property="userId" column="USER_SEQ"/>
        <result property="folderName" column="FOLDER_NAME"/>
        <result property="folderCaption" column="FOLDER_CAPTION"/>
        <result property="folderOrder" column="FOLDER_ORDER"/>
        <result property="folderScope" column="FOLDER_SCOPE"/>
        <result property="folderRegDate" column="FOLDER_REG_DATE"/>
        <result property="folderModDate" column="FOLDER_MOD_DATE"/>
        <collection property="includedBookmarks" ofType="com.hyun.bookmarkshare.manage.bookmark.service.response.BookmarkResponseDto">
            <id property="bookmarkSeq" column="BOOK_SEQ"/>
            <result property="userId" column="USER_SEQ"/>
            <result property="folderSeq" column="FOLDER_SEQ"/>
            <result property="bookmarkTitle" column="BOOK_TITLE"/>
            <result property="bookmarkCaption" column="BOOK_CAPTION"/>
            <result property="bookmarkUrl" column="BOOK_URL"/>
            <result property="bookmarkOrder" column="BOOK_ORDER"/>
            <result property="bookmarkRegDate" column="BOOK_REG_DATE"/>
            <result property="bookmarkModDate" column="BOOK_MOD_DATE"/>
            <result property="bookmarkDelFlag" column="BOOK_DEL_FLAG"/>
        </collection>
    </resultMap>

    <select id="getAllFoldersAndBookmarks" resultMap="folderWithBookmarkResultMap">
        WITH RECURSIVE CTE AS (
            SELECT
                FOLDER_SEQ,
                FOLDER_PARENT_SEQ,
                USER_SEQ,
                FOLDER_NAME,
                FOLDER_CAPTION,
                FOLDER_ORDER,
                FOLDER_SCOPE,
                FOLDER_REG_DATE,
                FOLDER_MOD_DATE
            FROM TFOLDER
            WHERE FOLDER_PARENT_SEQ = 0 AND USER_SEQ = #{userSeq} AND FOLDER_DEL_FLAG = 'n'

            UNION ALL

            SELECT
                a.FOLDER_SEQ,
                a.FOLDER_PARENT_SEQ,
                a.USER_SEQ,
                a.FOLDER_NAME,
                a.FOLDER_CAPTION,
                a.FOLDER_ORDER,
                a.FOLDER_SCOPE,
                a.FOLDER_REG_DATE,
                a.FOLDER_MOD_DATE
            FROM TFOLDER a
                     INNER JOIN CTE b ON a.FOLDER_PARENT_SEQ = b.FOLDER_SEQ
        )
        SELECT CTE.*, TBOOKMARK.BOOK_SEQ, TBOOKMARK.USER_SEQ, TBOOKMARK.FOLDER_SEQ,
               TBOOKMARK.BOOK_TITLE, TBOOKMARK.BOOK_CAPTION, TBOOKMARK.BOOK_URL, TBOOKMARK.BOOK_ORDER, TBOOKMARK.BOOK_REG_DATE,
               TBOOKMARK.BOOK_MOD_DATE, TBOOKMARK.BOOK_DEL_FLAG
        FROM CTE
                 LEFT JOIN TBOOKMARK on CTE.FOLDER_SEQ = TBOOKMARK.FOLDER_SEQ;
    </select>

</mapper>