<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyun.bookmarkshare.user.dao.UserRepository">

    <resultMap id="userEntityResultMap" type="com.hyun.bookmarkshare.user.entity.User">
        <id column="USER_SEQ" property="userId"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_PHONE" property="userPhoneNum"/>
        <result column="USER_STATE" property="userState"/>
        <result column="USER_GRADE" property="userGrade"/>
        <result column="USER_ROLE" property="userRole"/>
        <result column="USER_SOCIAL" property="userSocial"/>
        <result column="USER_REG_DATE" property="userRegDate"/>
        <result column="USER_MOD_DATE" property="userModDate"/>
    </resultMap>

    <resultMap id="userTokenResultMap" type="com.hyun.bookmarkshare.user.entity.UserRefreshToken">
        <id column="USER_SEQ" property="userId"/>
        <result column="REFRESH_TOKEN" property="refreshToken"/>
    </resultMap>

    <!-- ================================================================================================ -->
    <!-- ============================================ SELECT ============================================ -->

    <select id="findByLoginServiceRequestDto" parameterType="com.hyun.bookmarkshare.user.service.request.LoginServiceRequestDto"
                                       resultMap="userEntityResultMap">
        SELECT * FROM TUSERACCOUNT WHERE USER_EMAIL = #{email} AND USER_PWD = #{pwd} AND USER_STATE = 'n';
    </select>

    <select id="findByUserIdAndUserState" resultMap="userEntityResultMap">
        SELECT * FROM TUSERACCOUNT WHERE USER_SEQ = #{userId} AND USER_STATE = #{userState};
    </select>

    <select id="findByUserId" resultMap="userEntityResultMap">
        SELECT * FROM TUSERACCOUNT WHERE USER_SEQ = #{userId};
    </select>

    <select id="findByUserEmail" resultMap="userEntityResultMap">
        SELECT * FROM TUSERACCOUNT WHERE USER_EMAIL = #{email};
    </select>

    <select id="findByRefreshToken" parameterType="string" resultMap="userTokenResultMap">
        SELECT *
        FROM TREFRESHTOKEN
        WHERE REFRESH_TOKEN = #{refreshToken}
    </select>

    <select id="countByUserEmail" resultType="integer">
        SELECT COUNT(USER_SEQ) FROM TUSERACCOUNT WHERE USER_EMAIL = #{email} AND USER_STATE = 'n';
    </select>

    <!-- ================================================================================================ -->
    <!-- ============================================ INSERT ============================================ -->

    <insert id="saveUserRefreshToken" parameterType="com.hyun.bookmarkshare.user.entity.User">
        INSERT
        INTO TREFRESHTOKEN(USER_SEQ, REFRESH_TOKEN)
        VALUES(#{userId}, #{refreshToken});
    </insert>

    <insert id="saveNew" parameterType="com.hyun.bookmarkshare.user.entity.User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO TUSERACCOUNT (USER_SEQ, USER_EMAIL, USER_PWD, USER_NAME, USER_PHONE, USER_REG_DATE, USER_MOD_DATE,
                                  USER_STATE, USER_GRADE, USER_ROLE, USER_SOCIAL)
        VALUES (#{userId}, #{userEmail}, #{userPwd}, #{userName}, #{userPhoneNum}, NOW(), NOW(),
                'n', 'g', 'ROLE_USER', #{userSocial});
    </insert>

    <insert id="saveBySignUpRequestDto" parameterType="com.hyun.bookmarkshare.user.controller.dto.UserSignUpRequestDto"
                                        useGeneratedKeys="true" keyProperty="userId">
        INSERT
        INTO TUSERACCOUNT(USER_SEQ, USER_EMAIL, USER_PWD, USER_NAME, USER_PHONE, USER_REG_DATE, USER_MOD_DATE,
                          USER_STATE, USER_GRADE, USER_ROLE, USER_SOCIAL)
        VALUES(#{userId}, #{userEmail}, #{userPwd}, #{userName}, #{userPhoneNum}, NOW(), NOW(),
               'n', 'g', 'ROLE_USER', 'n');
    </insert>

    <!-- ================================================================================================ -->
    <!-- ============================================ DELETE ============================================ -->

    <delete id="deleteRefreshTokenByUserId" parameterType="long">
        DELETE FROM TREFRESHTOKEN WHERE USER_SEQ = #{userId}
    </delete>

    <delete id="deleteByUserId" parameterType="long">
        UPDATE TUSERACCOUNT SET USER_STATE = 'e' WHERE USER_SEQ = #{userId}
    </delete>

    <!-- ================================================================================================ -->
    <!-- ======================================== ONLY FOR TEST ========================================= -->

    <insert id="save" parameterType="com.hyun.bookmarkshare.user.entity.User"
                      useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO TUSERACCOUNT (USER_SEQ, USER_EMAIL, USER_PWD, USER_NAME, USER_PHONE, USER_REG_DATE, USER_MOD_DATE,
                                  USER_STATE, USER_GRADE, USER_ROLE, USER_SOCIAL)
        VALUES (#{userId}, #{userEmail}, #{userPwd}, #{userName}, #{userPhoneNum}, NOW(), NOW(),
                'n', 'g', 'ROLE_USER', 'n');
    </insert>


</mapper>